@import "../../../scss/index.scss";

.home-empresas{
    margin-top: 50px;
    margin-bottom: 50px;
    &__title{
        text-align: center;
        h2{
            color: $font-dark-light;
            font-weight: bold;
            font-size: 32px;
            text-transform: uppercase;
        }
    }
    .row-empresas{
        .ant-col{
            padding: 15px!important;
        }
    }
    &__card{
        border: 0;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 2px rgba(0, 0,0, 0.75);
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0,0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0,0, 0.75);

        .ant-card-cover{
            img{
                height: 150px!important;
                transform: scale(0.7);
            }
        }

        .ant-card-body{
            text-align: center;
            padding: 5px!important;
            .ant-card-meta-title,
            .ant-card-meta-description{
                color: black;
            }
            .ant-card-meta-title{
                font-weight: bold;
            }
        }

        .ant-card-actions{
            background-color: transparent;
            border: 0;

            button{
                width: 90%;
                height: 35px;
                background-color: transparent;
                color: $font-dark-light;
                border: 1px solid lightslategrey;

            }
        }
    }
    &__more{
        text-align: center;
        button{
            background-color: white;
            color: black;
            border-radius: 10px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            width: 200px;
            height: 40px;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;

            &:hover{
                background-color: lightskyblue;
                color: black;
                border-color: black;
            }
        }
    }
}