@import "~antd/dist/antd.css";

.list-users{

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &-switch{
            display: flex;
            align-items: center;
            margin: 10px;
        }
    }
}