@import "../../../scss/index.scss";

.footer{
    background-color: grey;
    border-top: 3px solid black;

    &__copyright{
        margin-top: 30px;
        .ant-col{
            color: black;
            &:last-of-type{
                text-align: right;
            }
        }
    }

}