@import "~antd/dist/antd.css";

.list-users{
    &__switch{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        > button{
            margin-right: 20px;
        }
    }

    .users-active{
        background-color: #fff;
        padding: 10px 20px;

        .MuiListItem-root{
            display: flex;
            align-items:center ;
        }
    }
}