@import "~antd/dist/antd.css";

.list-users{

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &-switch{
            display: flex;
            align-items: center;
            > button{
                margin-right: 20px;
            }
        }
    }
   

    .users-active{
        background-color: #fff;
        padding: 10px 20px;

        .MuiListItem-root{
            display: flex;
            align-items:center ;
        }
    }
}